# Основные библиотеки
pandas>=1.5
scikit-learn>=1.2
numpy>=1.23
openpyxl>=3.1

# Обработка текста
nltk>=3.8
regex>=2023.3

# Парсинг и извлечение дат
dateparser>=1.1
rapidfuzz

# Для русского языка
pymorphy2>=0.9
pymorphy2-dicts-ru>=2.4

# (опционально) Прогресс-бары
tqdm>=4.64
